
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}
.heading {
    color: blue;
    text-align: center;
    font-size: 20px;
}

.detials {
    color: green;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
    background-color: thistle;
}